body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    background-color: #f8b400;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
  }

  nav a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    position: relative;
    padding: 6px 10px;
  }

  nav a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #ffe066;
    transition: width 0.3s ease-in-out;
  }

  nav a:hover::after {
    width: 100%;
  }

  nav a:hover {
    color: #ffe066;
  }

  nav a.active {
    color: #ffe066;
    border-bottom: 3px solid #ffe066;
  }

  header, footer {
    background: #f8b400;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
  h1, h2 {
    text-align: center;
    color: #333;
  }
  
  .recipes {
    display: flex;
    justify-content: space-around;
    margin: 20px;
  }
  
  .recipe img {
    width: 200px;
    height: auto;
    border-radius: 10px;
  }
  
  .recipe {
    text-align: center;
    max-width: 250px;
  }
  .welcome{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
  }
  .us{
    margin-left: 5%;
    margin-right: 5%;
  }
  .us ul{
    margin-left: 10%;
    margin-right: 10%;
    display: inline-block;
    padding: 0;
  }

  .members img{
    width: 200px;
    height: auto;
    border-radius: 10px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
.recept {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.recept h2 {
  margin-top: 0;
  color: #333;
}
.recept img {
  max-width: 500px;
  height: auto;
  border-radius: 8px;
}
.hozzavalok, .elkeszites {
  margin-top: 10px;
}
.recept-link {
    color: #007BFF;
    text-decoration: none; 
    font-weight: bold;
    cursor: pointer; 
}
.recept-link:hover {
    color: #0056b3;
}

form {
  max-width: 500px;
  margin: auto;
  margin-bottom: 20px;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
}
label {
  display: block;
  margin-top: 15px;
}
input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;
}
.error {
  color: red;
  font-size: 0.9em;
}